<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div id="clients-logo" class="owl-carousel">
              {% for client in site.data.clients%}
              <div class="clients-logo-img">
                <img src="img/clients/{{ client.logo }}.png" alt="{{ client.name }}">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>