<!-- contact form start -->
<section id="contact-form">
    <div class="container">
      <div id="contact-box" style="padding: 0px 0px 20px;">
        <div class="block">
      <h2>CONTACT FORM</h2>
      <p>Fill the form to send me an email. I'll respond as soon as possible.</p>
      </div>
      </div>
      <div class="row" style="padding: 15px 0px 15px; border-radius: 10px; background-color: rgb(178, 175, 186);">
        <div class="col-md-6 col-sm-12" style="padding-bottom: 15px;">
          <div class="block">
            <form action="https://formspree.io/f/xknddoyy" method="POST">
              <input type="hidden" name="_next" value="{{ site.url }}" />
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name">
              </div>
              <input type="hidden" name="_next" value="{{ site.url }}/thanks.html">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
              <div class="form-group-2">
                <textarea class="form-control" name="body" rows="3" placeholder="Your Message"></textarea>
              </div>
              <button class="btn btn-default" type="submit">Send Message</button>
            </form>
          </div>
        </div>
      </div>
      <div id="contact-box"  style="padding: 35px 0px 0px;">
          <div class="block">
            <h4>{% include contact-social.html %}</h4>
          </div>
      </div>
    </div>
  </section>