<section id="skills">
    <div class="container">
      <div class="row">
        <div style="padding-top: 25px ;background-color: rgba(255,255,255, 0.85); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); border-radius: 5px;">
            <h2>Skills</h2>

          <div class="container" style="padding: 0px 25px 15px 25px;">
            <div class="row justify-content-center">
              <div class="col-md-3 col-sm-6 col-xs-12 expbox">
                <div><h6>Expert</h6></div>

                  {% assign skills = site.data.skills %}
                  {% for item in skills[0].expert %}
                    <div> {{ item }}</div>
                  {% endfor %}

              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 expbox">
                <div><h6>Advanced</h6></div>

                  {% assign skills = site.data.skills %}
                  {% for item in skills[1].advanced %}
                    <div> {{ item }}</div>
                  {% endfor %}

              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 expbox">
                <div><h6>Intermediate</h6></div>

                  {% assign skills = site.data.skills %}
                  {% for item in skills[2].intermediate %}
                    <div> {{ item }}</div>
                  {% endfor %}

              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 expbox">
                <div><h6>Novice</h6></div>

                  {% assign skills = site.data.skills %}
                  {% for item in skills[3].novice %}
                    <div> {{ item }}</div>
                  {% endfor %}

              </div>
            </div>
          </div>

        </div>
      </div>

    </div> <!-- container -->
  </section>