    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2 style="padding: 0px 0px 0px;">About Me</h2>
                  <p style="color: #444;">My name is Mauricio Palau, and I'm a technical writer based in Mexico 🇲🇽.</p>
                </div>
                      <p>I have 10+ years of experience in IT and software engineering, focusing on cloud modernization projects. I create user manuals, API guides, architecture overviews, and process diagrams—often using AI tools to make documentation more efficient.</p>
                      <p>I started as a software engineer intern, then worked as a systems analyst at <a href="https://www.honeywell.com" target="_blank">Honeywell</a>. It was there that I saw how good documentation can make technology easier to use and adopt, which led me to specialize in technical writing.</p>
                      <p>Now, at <a href="https://www.wizeline.ai" target="_blank">Wizeline</a>, I help clients across IT services, retail, and media deliver AI-driven products and services, supported by clear and practical documentation.</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="block" style="text-align: center; margin-top: 100px;">
                <img src="img/mauricio2.jpg" alt="mauricio">
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>