    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2>About Me</h2>
                  <p>My name is Mauricio Palau and I'm a technical writer, greetings from Mexico 🇲🇽</p>
                </div>
                  <p>I have 9+ years of experience in IT engineering and operations, mostly in cloud transformation projects specializing in technical writing.</p>
                  <p>I started as a software engineer intern at a local IT consulting agency, this led to a role as an IT analyst in enterprise operations at <a href="www.honeywell.com" target="_blank">Honeywell</a>. There, I learned the importance of technical documentation in enhancing user experience and technology adoption, leading me to specialize in technical writing.</p>
                  <p>As a technical writer at <a href="www.wizeline.com/" target="_blank">Wizeline</a>, I expand my software consultancy expertise collaborating with clients to deliver compelling products and services.</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="block" style="text-align: center; margin-top: 100px;">
                <img src="img/mauricio2.jpg" alt="mauricio">
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>