<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-5" style="padding-top: 25px; background-color: rgb(255, 255, 255, 0.93);">
        <h2>PROFESSIONAL EXPERIENCE</h2>

        {% for experience in site.data.experiences %}
 
        <div class="container">
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <img src="{{ experience.companyLogo }}" style="padding-top: 10px; min-width: 25px; max-width: 100%; margin: auto;">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">

              <h4>{{ experience.title }}</h4>
              <h5>{{ experience.company }}</h5>
              {{ experience.startDate }} - {{ experience.endDate }}<br>

            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <p style="padding-top: 5px;">
                <button class="btn btn-view-works" type="button" data-toggle="collapse"
                  data-target="#{{ experience.id }}" aria-expanded="false" aria-controls="{{ experience.id }}">
                  See projects
                </button>
              </p>
            </div>
          </div>
          <hr>

          <div class="collapse" id="{{ experience.id }}">
            <div class="card card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1"></div>
                  <div class="col-md-5 col-sm-10 col-xs-10">

                    {% for project in experience.projects %}

                    <p style="color: black;"><strong>Project:</strong> {{ project.project }}<br>
                      <strong>Impact:</strong> {{ project.impact }}
                    </p>
                    <br>

                    {% endfor %}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    <!-- <a href="portfolio.html" class="btn btn-view-works">Review Portfolio</a> -->

  </div> <!-- container -->
</section>