    <!-- Call to action Start -->
    <section id="review-portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">

                <h2>Would you like to know more?</h2>

                <div style="display: flex; justify-content: center; gap: 60px;">
                  <a class="btn btn-default btn-review-portfolio" href="resume.html">
                    <span style="font-size: 2em;">
                      <i class="ion-android-document"></i>
                    </span><br>Resume
                  </a>
                  <a class="btn btn-default btn-review-portfolio" href="contact.html">
                    <span style="font-size: 2em;">
                      <i class="ion-briefcase"></i>
                    </span><br>Portfolio
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>