    <!-- Service Start -->
    <section id="service">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>What I do</h2>
              <p style="margin: 0px 10px 10px 10px;">I create clear and concise documentation to guide users and developers in setting up and using software.</p>
              <p>Technical writing services I offer:</p>
            </div>
          </div>
          <div class="row ">

            {% for service in site.data.services %}
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="service-item">
                  <i class="{{ service.icon }}"></i>
                  <h5>{{ service.title }}</h5>
                  <p>{{ service.content }}</p>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </section>